#page-evade{
}
#page-evade .unit-card{
    border: 1px solid #eee;
    padding: 20px;
    width: max-content;
}
#page-evade .unit-card h1, h2{
    margin-top: 0;
}
#page-evade .unit-card h1{
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
}
#page-evade .unit-card h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

#page-evade .character h2{
    margin-top: 10px;
    margin-bottom: 0;
}

#page-evade .unit-card .unit-img{
    margin-right: 20px;
    width: 100px;
}
#page-evade .equip{
    display: flex;
}
#page-evade .equip img{
    width: 80px;
}
#page-evade .equip span{
    font-size: 14px;
}

#page-evade .subjob{
    background: url(https://wotv-calc.com/base_sub.dc5ae2b74f2b6802bf7b.png) 0 0 no-repeat;
    background-size: 40px;
    width: 40px;
}
#page-evade .support-skill{
    width: 32px;
}

#page-evade .skill {
    text-align: center;
    width: max-content;
}
#page-evade .skill p{
    margin: 0;
}